.image1{

    margin-left: 680px;
    margin-top: 0px;
    position: absolute;

}

.image2{

    margin-left: 942;
    margin-top: 134;
    position: absolute;
}

.image3{

    margin-left: -15;
    margin-top: 578;
    position: absolute;
}

.image4{

    margin-left: 55;
    margin-top: -15;
    position: absolute;
}

.image5{

    margin-left: 205;
    margin-top: 310;
    position: absolute;
}

.image6{

    margin-left: 1020;
    margin-top: 108;
    position: absolute;
}

.image7{

    margin-left: 50;
    margin-top: 10;
    position: absolute;
}


body{
    background-image: url(../images/doomback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}