body{
    background-image: url(../images/milky-way-.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.image4{

    margin-left: 100;
    margin-top: -46;
    position: absolute;
}

.image5{

    margin-left: 50;
    margin-top: 75;
    transform: rotate(-15deg);
    position: absolute;
}

.image6{

    margin-left: 700;
    margin-top: 0;
    position: absolute;
}