
body{
    background-image: url(../images/WebCover1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image1{
    margin-top: 380px;
    margin-left: 610px;
    position: absolute;
}

.image2{
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
}

.image3{
    margin-top: 20px;
    margin-left: 277px;
    position: absolute;
}

.image4{
    margin-top: 17px;
    margin-left: 1022px;
    position: absolute;
}

.image5{
    margin-top: 17px;
    margin-left: 1329px;
    position: absolute;
    
}
